/* W5HGT Website */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');

/*--------------------------- navbar styling ----------------------*/
nav {
	display: block;
	position: fixed;
	background-color: #666666F0;
	/*border-bottom: 1px solid #1b212c;*/
	width: 100%;
	height: calc(35px + .4vw);
	top: 0;
	z-index: 10000000;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
	font-family: 'JetBrains Mono ExtraBold', 'IBM Plex Sans', sans-serif;
}

nav a {
  color: #EBEBEB;
  font-size: calc(12px + .25vw);
  font-weight: bolder;
  padding: 8px 10px;
  text-transform: uppercase;
}
nav a.right {
  float: right;
}

nav a:hover {
    background: #30303075;
}

.nav li {
  display: inline;
}

nav .icon {
  height: 15px;
  width: 15px;
  display: none;
}

#selected-page {
  color:#c0e6ff;
  text-decoration: underline;  
}

#ctf-button {
  background-color: rgba(125,20,23,75);
}

#ctf-button:hover {
  background-color: rgba(100,20,23,100);
}

.active {
  background-color: #d1d1d1;
  color: white;
}

@media (max-width: 992px) {
  .nav a {
    font-size: calc(12px + .25vw);
  }
}

/*@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .left {
  	float: left !important;
  	display: block;
  }
*/
/*------------------------ End of navbar styling -------------------*/

/*------------------------GENERAL ELEMENT STYLING-------------------*/

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

p {
	overflow-wrap: break-word;
	font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
}

body {
	margin-top: 50px;
	margin-left: 0px;
	background-color: #ebebeb;
}

.information-panel {
    /*background-color: #191e27;*/
    border-bottom: 2px solid #000000;
    color: #000000;
}

.information-panel h3 {
  color: #000000;
  font-size: calc(22pt + 1vw);
}

.information-panel h4 {
    color: #000000;
    font-size: calc(16pt + .6vw);
}

.information-panel p {
    color: #000000;
    font-size: calc(12pt + .5vw);
    margin-bottom: 13px;
}

.container p, .container h3 {
  color: #000000;
}

.main-w5hgt-container {
  /*background-color: #14181f;*/
  color: #000000;
  padding-bottom: 50px;
  position: relative;
  height: 400px;
  /* border: 2px solid #006100; */
  font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif !important;
}

.main-w5hgt-container h1 h3 {
  font-size: calc(100pt + .15vw) !important;
  font-weight: bold;
  font-family: 'JetBrains Mono ExtraBold', 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
}

.main-w5hgt-container p {
	font-size: calc(12pt + .5vw);
    font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
}

.main-w5hgt-container a {
  color: #4973d4;
}

.main-w5hgt-container a:hover {
  color: #2d4681;
  text-decoration-line: none;
}

.main-w5hgt-container a:hover {
  color: #2d4681;
  text-decoration-line: none;
}

.image img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*height: 100%;*/
}

.comp-logo {
  max-width: 90%;
  margin: auto;
  display: block;
}

#wiley-photo {
  background-color: #a0c1ff;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#w5hgt-main {
    flex-direction: column;
    justify-content: center;
}

#w5hgt-logo {
    font-family: 'JetBrains Mono ExtraBold', 'JetBrains Mono', sans-serif;
    font-weight: bolder;
    font-size: calc(100pt + .15vw);
}

.fit-image{
    width: 100%;
    object-fit: cover;
    /* height: 300px; */
}

#join-us {
  max-width: 45%;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
    .fit-image{
        width: 100%;
        object-fit: cover;
        height: 300px;
        overflow: hidden; bottom: 0;
    }
  .main-w5hgt-container {
    padding-top: 3.5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
  #w5hgt-logo {
    font-size: calc(100px + .25vw) !important;
  }
  .main-w5hgt-container h2 {
    font-size: calc(22px + .25vw) !important;
  }  
  .main-w5hgt-container h3 {
    font-size: calc(18px + .25vw) !important;
  }
}

/*Minor stylings for the thumbnails so they don't take up the whole screen, 
  and actually match the background*/
.thumbnail {
  /*background: #efefef;*/
  width: 100%;
  height: 100%;
}

.thumbnail img {
  max-width: 150px;
  max-height: 150px;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
	padding-top: 10px;
	font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
}
h2 {
	font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
}
.footerText {
  background-color: #5e5e5e;
}

.footerText p {
  font-size: calc(15px + .25vw);
  color: #ffffff;
  text-align: center;
  margin: 5px 0 5px !important;
}

.footerContainer {
  padding-right: calc(5px + .75vw);
  padding-left: calc(5px + .75vw);
  font-family: 'JetBrains Mono ExtraBold', 'IBM Plex Sans', sans-serif;
  font-weight: 100;
}

.footerContainer p {
  color: #ffffff;
  font-size: calc(10 + .05vw)
}

.footerContainer a {
  color: #ffffff;
}

#footerLogo {
  height: 80px;
  margin-top: 5%;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerButton {
  font-family: 'JetBrains Mono ExtraBold', sans-serif;
  padding: 15px 32px 15px 32px;
  border: 2px;
  border-color: white;
  margin: 10px;
  background-color: white;
  color: black;
  border-radius: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.footerButton:hover {
  background-color: rgb(200, 200, 200);
  border-color: rgb(225, 225, 225);
}

#footerButtonText {
  margin-bottom: 0px;
  font-size: calc(25 + .05vw);
  color: black;
}

.fa {
  color: #a5b0c1;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.fa i {
  text-align: center;
}

.centered {
  text-align: center;
}

.pull-right {
  padding-left: 0px !important;
}

@media (max-width: 600px) {
  .footerButton {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .pull-right {
    margin-top: -10px;
  }
}

/*------------------------END OF ELEMENT STYLING-------------------*/
