/* W5HGT Website */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/*--------------------------- navbar styling ----------------------*/
nav {
	display: block;
	position: fixed;
	background-color: #666666F0;
	width: 101%;
	height: 35px;
	top: 0;
	z-index: 10000000;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
	font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
	margin-left: -10px;
}

nav a {
  color: #EBEBEB;
  font-size: 18px;
  font-weight: bolder;
  padding: 8px 10px;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
}
nav a.right {
  float: right;
}

nav a:hover {
    background: #30303075;
}

.nav li {
  display: inline;
}

nav .icon {
  height: 15px;
  width: 15px;
  display: none;
}

#selected-page {
  color:#c0e6ff;
  text-decoration: underline;  
}

#ctf-button {
  background-color: rgba(125,20,23,75);
}

#ctf-button:hover {
  background-color: rgba(100,20,23,100);
}

.active {
  background-color: #d1d1d1;
  color: white;
}

/*@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .left {
  	float: left !important;
  	display: block;
  }
*/
/*------------------------ End of navbar styling -------------------*/

/*------------------------GENERAL ELEMENT STYLING-------------------*/

h3 {
	font-size: 18px;
}

p {
	font-size: 12pt;
	overflow-wrap: break-word;
	font-family: 'IBM Plex Sans', sans-serif;
	margin: 20pt;
}

body {
	margin-top: 50px;
	background-color: #ebebeb;
	font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
}

.main-w5hgt-container {
	color: #000000;
	font-family: 'JetBrains Mono', 'IBM Plex Sans', sans-serif !important;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.main-w5hgt-container h1 h2 {
	font-size: 22px !important;
	font-weight: bold;
	font-family: 'JetBrains Mono ExtraBold', 'JetBrains Mono', 'IBM Plex Sans', sans-serif;
	padding-left: 0px !important;
}
.main-w5hgt-container h3 {
	font-weight: lighter;
}
.main-w5hgt-container a {
	color: #4973d4;
	text-decoration: none;
}

.main-w5hgt-container a:hover {
  color: #2d4681;
  text-decoration-line: none;
}

.main-w5hgt-container a:hover {
  color: #2d4681;
  text-decoration-line: none;
}

.image {
	object-fit: contain;
	max-width: 500px;
	max-height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	/*height: 100%;*/
}

#wiley-photo {
  background-color: #a0c1ff;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#w5hgt-logo {
	font-family: 'JetBrains Mono', sans-serif;
	font-weight: bolder;
	font-size: 100px;
	margin-bottom: 0px;
	margin-top: -18px;

}

.fit-image{
	width: 100%;
	object-fit: cover;
	height: 300px;
	overflow: hidden;
	bottom: 0;
}

@media (min-width: 800px) {
	.main-w5hgt-container {
		display: flex;
		text-align: left;
		justify-content: space-between;
	}
	.flex-child {
		flex: 1;
		margin: 10px;
	}
	.fit-image {
		object-fit: contain;
		height: 400px;
		width: auto;
		float: right;
	}
	.image {
		float: right;
	}
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

span.kernfix {
	width: 5px;
	display: inline-block
}
/*------------------------END OF ELEMENT STYLING-------------------*/
